body {
	margin: 0;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	text-transform: uppercase;
	color: #000000;
	background-color: #ffffff;
}


img {
	max-width: 100%;
}


a {
 text-decoration: none;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}


.wrap {
	width: 1200px;
	margin: 0 auto;
}

.main-header {
	position: relative;
	margin: 0;
	padding: 0;
	border-color: : #ffffff;
}


.main-navigation {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	background-color: #ffffff;
}


.site-navigation {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	justify-content: space-around;
	text-align: center;
}

.main-header-logo{
    width: 140px;
	height: 72px;
	position: absolute;
	border-color: #ffffff;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
}


.navigation-item {
	width: 234px;
}


.site-navigation a {
    color: #000000;
}


.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:active {
	color: #dadada;
}


.site-navigation-current {
	color: #766357;
}

.advantage-list {
	list-style: none;
	text-align: center;
}


.advantage-list h1 {
font-size: 21px;
line-height: 26px;
}

.advantage-list h2,
.advantage-list h3 {
	font-size: 21px;
	line-height: 21px;
}


.advantage {
font-size: 14px;
line-height: 26px;
}


.advantage-1,
.advantage-2 {
	color: #ffffff;
	background-color: #99adbf;
}

.advantage-1 h2,
.advantage-2 h3 {
	font-size: 21px;
	line-height: 21px;
}


.hotels-form h3 {
	text-align: center;
    font-size: 30px;
	line-height: 36px;
}

.hotels-form p {
	text-align: center;
    font-size: 14px;
	line-height: 24px;
}


.form-page2 {
	background-image: url(../img/main_background.jpg);
	background-size: cover;
}


.form-1 {
    font-size: 14px;
	line-height: 24px;
}

.form-1 button {
	color: #a9a9a9;
	background-color: #ffffff;
}


.form-1 button:hover {
	color: #000000;
	background-color: #ffffff;
}

.form-1 button:active {
	color: #81b3d2;
	background-color: #ffffff;

}

.hotels-search  {
	font: inherit;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	background-color: #766357;
	border: none;
	font-size: 21px;
	line-height: 26px;
}

.hotels-search:hover {
	color: #ffffff;
	background-color: #604e43;
}

.hotels-search:active {
	color: #857871;
	background-color: #503e33;
}

.btn-hotel-seach {
	font: inherit;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	background-color: #81b3d2;
	border: none;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	padding: 19px 0;
	width: 460px;
}


.btn-hotel-seach:hover {
	color: #ffffff;
	background-color: #669ec0;
}

.btn-hotel-seach:active {
	color: #88b6d1;
	background-color: #5496bd;
}


.appointment-item {
	text-align: center;
	color: #000000;
	background-color: #f2f2f2;
	border: none;
	width: 40px;
}

.appointment-item-date {
	text-align: center;
	color: #000000;
	background-color: #f2f2f2;
	border: none;
	width: 308px;
}


.appointment-item:hover {
	color: #000000;
	background-color: #ebebeb;
}

.appointment-item:focus {
	color: #000000;
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
}

.footer-visitsedona {
    font-weight: 700;
}


.footer-social {
	display: flex;
	text-align: center;
}

.social-button {
	color: #ffffff;
	background-color: #81b3d2;
	border: none;
}

.social-button:hover {
	color: #ffffff;
	background-color: #669ec0;
	border: none;
}

.social-button:active {
	color: #88b6d1;
	background-color: #5496bd;
	border: none;
}


.htmlacademy {
	color: #231f20;
	background-color: #ffffff;
}

.htmlacademy:hover {
	color: #81b3d2;
	background-color: #ffffff;
}

.htmlacademy:active {
	color: #bdbbbc;
	background-color: #ffffff;
}

.form-2 {
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
}


.form-2 label,
.form-2 button {
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
}


.result {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}

.filters-list {
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	list-style: none;
}

.filters-list-2 {
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	list-style: none;
}

.sorting {
	margin: 0;
	font-size: 12px;
	line-height: 18px;
	color: #000000;
}

.hotel-column p {
  margin: 0 0 14px;
}

.hotel-column:first-child{
  margin-right: 6px;
}

.hotel-img {
  margin: 0;
  padding-top: 5px;
}

.hotel-img img {
  display: block;
}

.hotel_name {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
  margin: 0 0 7px;
}

.hotel-descr {
  display: flex;
}

.hotel_name:hover {
	color: #81b3d2;
}

.hotel_name:active {
	color: #b2b2b2;
}


.checkbox {
    border: 2px solid #ffffff;
	color: #ffffff;
	background-color: transparent;
}


.filter-1 {
	color: #81b3d2;
	font-size: 12px;
    line-height: 18px;
}


.filter-2 {
	color: #d9d9d9;
	font-size: 12px;
    line-height: 18px;
}


.btn-more {
  display: block;
  padding: 3px 16px;
  color: #ffffff;
  background-color: #81b3d2;
}

.btn-more:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.btn-more:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.btn-book {
  display: block;
  padding: 3px 16px;
	color: #ffffff;
	background-color: #766357;
}

.btn-book:hover {
	color: #ffffff;
	background-color: #604e43;
}

.btn-book:active {
	color: #857871;
	background-color: #503e33;
}

.picture {
	display: flex;
	background-color: #ffffff;
	margin: 0;
	padding: 0;
	margin-bottom: 63px;

}

.main-picture {
	width: 1200px;
}

.designation {
	display: flex;
	flex-direction: column;
	width: auto;
	align-items: center;
	background-color: #ffffff;
	margin: 0;
	padding: 0;
	margin-bottom: 53px;
}


.designation h1 {
	font-size: 21px;
	line-height: 26px;
	margin: 0;
	padding: 0;
	margin-bottom: 36px;
}


.designation p {
	font-size: 14px;
	line-height: 26px;
	margin: 0;
	padding: 0;
}


.advantage-1 {
	display: flex;
	flex-direction: row;
	margin-bottom: 60px;
}

.advantage-item-1 {
	border-color: #81b3d2;
	color: #ffffff;
	padding: 0;
	margin: 0;
	padding-right: 50px;
	padding-left: 50px;
	margin-bottom: 63px;
	width: 400px;
}


.advantage-item-1 h2 {
	margin: 0;
	padding: 0;
	padding-top: 47px;
	padding-bottom: 24px;

}


.advantage-item-1 p {
	margin: 0;
	padding: 0;
}


.advantage-1-pic {
	margin: 0;
	padding: 0;
}

.pic-1 {
	display: block;
}

.advantage {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	margin-bottom: 85px;
}

.advantage-item {
	width: 400px;
}

.advantage-item h3 {
	margin: 0;
	padding: 0;
	padding-bottom: 26px;

}

.advantage-item p {
	margin: 0 auto;

}

.advantage-2 {
	display: flex;
	flex-direction: row;
}

.advantage-2-pic {
	margin:0;
	padding: 0;
}

.pic-2 {
	display: block;
}


.advantage-item-2 {
    margin: 0;
	padding: 0;
	padding-top: 47px;
	padding-bottom: 24px;
}


.advantage-item-2 h2 {
	margin: 0;
	padding: 0;
	padding-top: 47px;
	padding-bottom: 24px;

}

.advantage-item-2 p {
	margin: 0;
	padding: 0;
}



.advantages {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 50px;
	background-color: #eeeeee;
}


.advantage-item-3,
.advantage-item-4,
.advantage-item-5 {
	width: 400px;
	padding-top: 50px;
	padding-bottom: 60px;
	padding-right: 70px;
	padding-left: 70px;
}


.hotels-form {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.hotels-form h3 {
    font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	margin-bottom: 32px;
}


.hotels-form p {
    font-size: 14px;
	line-height: 24px;
	margin-bottom: 50px;
}

.hotels-search {
	margin: 0 auto;
	padding: 0;
	width: 550px;
	height: 85px;
}


.btn-calendar {
	width: 38px;
}

.map {
	display: flex;
	margin: 0;
	padding: 0;
	width: 1200px;
	height: 593px;
	margin-bottom: 30px;

}

.main-footer {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	align-items: center;
}

.footer-visitsedona {
	width: 400px;
	margin-left: 125px;
}

.footer-social {
    width: 400px;
    list-style: none;
    margin-right: 120px;
    margin-left: 120px;
}


.footer-copyright {
	width: 400px;
	margin-right: 90px;
}




.hotels-search-form {
	font-weight: 700;
	width: 574px;
	margin: 0 auto;
	padding: 55px;
}


.form-1 {
	margin-bottom: 30px;
}

.form-1-1 {
	display: inline-block;
	width: 50%;
	margin-bottom: 53px;
}


.form-bottom {
	display: flex;
}



.form-page2 form {
	display: flex;
	flex-direction: row;
	margin-bottom: 32px;
}


.accommodation {
	padding: 0;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 72px;
	margin-right: 0px;
}


.type {
	width: 140px;
	padding: 0;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 115px;
	margin-right: 345px;
}


.price {
	width: 140px;
	padding: 0;
	margin-top: 30px;
	margin-right: 72px;
	margin-left: 0px;
}


.range-controls {
	width: 318px;
}


.form-2-button {
	width: 138px;
	height: 36px;
	margin-top: 32px;
	border: 2px solid #ffffff;
	color: #ffffff;
	background-color: transparent;
	margin-left: 167px;



}


.form-2 legend{
	margin: 0;
	padding: 0;
	padding-bottom: 26px;
	font-weight: 700;
	font-size: 16px;
	line-height: 21px;
}

.form-2 p {
	margin: 0;
	padding: 0;
	padding-bottom: 26px;
}


.filters {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	margin: 0;
	padding: 0;
	padding-bottom: 35px;
}

.result {
	width: 222px;

}

.result p {
	width: 90px;

}

.filters-list {
	display: flex;
	text-align: center;
	margin: 0;
	padding: 0;
	width: 288px;
}

.filters-list li {
	width: 96px;

}


.filters-list-2 {
	display: flex;
	width: 600px;
	margin: 0;
	padding: 0;
	justify-content: flex-end;
	padding-top: 5px;
	margin-left: auto;
}

.hotel {
	display: flex;
  border-bottom: 1px solid #e5e5e5;
  padding: 30px 0;
}

.hotel:first-child {
	border-top: 1px solid #e5e5e5;
}




.hotel-info {
	margin-left: 30px;
}



.rating {
	margin-left: auto;
}
